# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [11]:
data = {'國家': np.random.randint(200000, size=100),'人口': np.random.randint(20000, size=100)}

data = pd.DataFrame(data)

data

        國家     人口
0   198221   8763
1    50804   9983
2    39515  17299
3    62318   9502
4    90043   1907
5    51761   5633
6   125351   8454
7   113494   9298
8   123366  16528
9   174724   3832
10   16007  16681
11  108157  16425
12   97512  12805
13   37724  12147
14   13756  15669
15  136095  10658
16   95186   5312
17  149791  17066
18   27510   7306
19   12079  15164
20   23124   8825
21    3732  10519
22   66174  17207
23  185142  15900
24   38440  17272
25  135547  17590
26  177687   2839
27  108388   6227
28  126984  11481
29  185280   9849
..     ...    ...
70  189612  10250
71   89850  12072
72  196767  14904
73  197314   2282
74   26671   7334
75  155687   8123
76   71152  14019
77  184664   2482
78   59231   1342
79   10778  10607
80  166793   4409
81  133822  17071
82  113231   4646
83   97443  12026
84  155380   1914
85  139065   3986
86  134587  10896
87  119674   7844
88   63014  13907
89  164827  17792
90  142428  17956
91    9128   4265
92  193978  12989
93   10851  19860
94   38837    188
95   85223  18138
96  127606   2285
97    6627  19775
98   96599   7994
99   28381   1062

[100 rows x 2 columns]

In [15]:
data["國家"][data["人口"] == np.max(data["人口"])]

       國家     人口
93  10851  19860